@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}
<h1>Restaurants</h1>
<marquee behavior="alternate"><h3>@Model.Message</h3></marquee>
<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>


